<!DOCTYPE html>
<html>
<head>
	<script src="/js/angular.js"></script>
	<script src="/js/controller.js"></script>
	<style>
		#output img{
			height: 100px;
			width: 100px;
		}
	</style>
	<title> </title>
</head>
<body ng-app="DoanCNPM" ng-controller="khongcogi">
		<form action="http://localhost:3000/upload" method="Post" enctype="multipart/form-data">
				<input type="file" name="files" accept="image/*" onchange="preview(event)" multiple>
				<div id="output"></div>
				<input type="Submit" value="upload">
		</form>
<script>
  var preview = function(event) {
    var output = document.getElementById('output');
    var arr = event.target.files
    for(i = 0;i < event.target.files.length;i++){
    	var img = document.createElement('img');
    	img.src = URL.createObjectURL(arr[i]);
    	output.appendChild(img);
    }
    // 
    // 
  };
</script>
</body>
</html>